 
html{
    height: 100%;
} 
body {
    min-height: 100%;
    margin: 0 0 0 0;
    display: grid;
    grid-template-rows: 1fr auto;
    background-image: url(../images/gravel.png);
    background-repeat: repeat;
}
.container-fluid{
    padding: 0;
}
.header{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}
.row{
    margin: 0;
}
main{
    background-color: #ffffff;
    margin: 20px 0 20px 0;
    border: 3px solid #dddddd;
    overflow: auto;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
}
.main{
    margin-top: 20px;
}
footer{
    background-color: #666666;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    grid-row-start: 2;
    grid-row-end: 3;
} 
.footer{
    text-align: center;
}
.block{
    display: block;
}
 footer p{
    padding-top: 20px;
    color: #dddddd !important;
    line-height: normal;
    margin: 0;
    line-height: 1;
}

h1,h2{
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h1{
    color: #ffffff;
    background-color: #4aaaa5 !important;
    line-height: 2.0;
    margin: 0 0 0 0;
    float: left;
    font-size: 2.8em;
    font-weight: bold;
    padding: 5px 15px;
}
.heading{
    padding-left: 0;
}
h2{
    color: #4aaaa5;
    padding: 30px 0;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}
hr{
    border-top: 2px solid #cccccc;
    margin-bottom: 40px;
}

nav{
    height: 100%;
}
nav a{
    padding: 10px 10px !important;
    font-size: 20px;
    text-decoration: none;
    line-height: normal;
    border-radius: 3px;
    transition: color .5s, background-color 0.5s;
    -webkit-transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;
    -ms-transition: color 0.5s, background-color 0.5s;
    -o-transition: color 0.5s, background-color 0.5s;
}
nav a:hover{
    text-decoration: underline;
    background-color: #4aaaa5;
    color: #ffffff;
}
p,a, form, input, textarea{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 0;
    line-height: 2;
}

p{
    display: block;
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
}
.profile{
    margin-right: 20px;
    margin-top: .6em;
    margin-left: 0;
}

img{
    border-radius: 3px;
}

.grid-container{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    width: 100%;
}
.grid-item{
    position: relative;
    margin: 0 10px;
}
.grid-item img{
    width: 100%;
    height: auto;
}
figcaption{
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    padding: 10px 0;
    margin-left: 0px !important;
    text-align: center;
    background-color: #4aaaa5;
    text-align: center;
    box-sizing: border-box;
}
figcaption a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
figcaption a:hover{
    text-decoration: underline;
}
form{
    width: 100%;
    font-size: 18px;
}
.text-input{
    width: 100%; 
    margin-bottom: 0.5em;
    font-size: 18px;
    padding-left: 10px;
}
textarea{
    height: 200px;
    font-size: 18px;
}
.submit-button{
    background-color: #4aaaa5; /* Green */
    border: none;
    color: #ffffff;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}
.submit-button:hover{
    background-color: #5E7F7E;
} 
.no-padding{
    padding: 0 !important;
}
.portfolio-item{
    margin-bottom: 20px;
}
@media screen and (max-width: 768px){
    .container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}